*{
  margin: 0;
}
 /* header styles  */
.section{
text-align: center;
background-image: url(../images/donation6.jpg);
background-repeat: no-repeat;
background-position: center;
margin-bottom: 80px;

}
.section-content{
  color: rgb(254, 254, 249);
  padding-top: 90px;
  padding-bottom: 30px;
  font-size: 20px;
  
}
.section-title{
color: #ffff;
font-size: 70px;
  
  
}
.btn-primary{
 color: rgb(253, 253, 250);
 background: rgb(247, 135, 8);
 border: none;
 border-radius: 5px;
 padding: 20px 26px;
 font-weight: 700;
 font-size: 18px;
 margin-bottom: 40px;
}
.details{
  padding: 60px;
  text-align: center;
}
