*{
  margin: 0;
}
 /* header styles  */
.section{
text-align: center;
background-image: url(../images/donation6.jpg);
background-repeat: no-repeat;
background-position: center;
margin-bottom: 80px;

}
.section-content{
  color: rgb(254, 254, 249);
  padding-top: 90px;
  padding-bottom: 30px;
  font-size: 20px;
  
}
.section-title{
color: #ffff;
font-size: 70px;
  
  
}
.btn-primary{
 color: rgb(253, 253, 250);
 background: rgb(247, 135, 8);
 border: none;
 border-radius: 5px;
 padding: 20px 26px;
 font-weight: 700;
 font-size: 18px;
 margin-top: 20px;
 margin-bottom: 40px;
}
/*  common class name */
.details{
  padding: 60px;
  text-align: center;
}
 /* main section part one style */
 .donate-container{
  text-align:center;
  margin: 0 475px;
 }
 .donate-title{
  font-size: 40px;
  padding-bottom: 25px;
 }
 .donate-details{
  font-size: 24px;
  padding-bottom: 25px;
 }
 .donate-tk{
  display: flex;
  gap: 30px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
 
 }
 
 .tk{
  background: rgb(223, 223, 223);
  border:none ;
  padding: 40px 50px;
   border-radius: 5px;
 }
 .tk-one{
  background: rgb(244, 218, 218);
  border:1px solid red;
  padding: 40px 50px;
  border-radius: 5px;

 }
.donate-small{
  padding: 10px;
}
 /* section two  styles */
 .donate-plan{
  text-align: center;
  margin: 0 475px;
  padding-bottom: 50px;
 }
 .dp-title{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
 }
.donate-sub-title{
  font-size: 24px;
  margin-bottom: 40px;

 
}
.dp-details{
  display: flex;
  gap: 30px;
  padding-bottom: 40px;
}

.dp-sub-details{
  border: none;
  background: rgb(227, 236, 245);
  padding: 30px 20px;
  border-radius: 5px;
  font-size: 20px;

}
.dp-sub-details-one{
   background: rgb(244, 220, 245);
   border-radius: 5px;
  font-size: 20px;
  padding: 30px 20px;
  
}
.dp-sub-details-two{
background: rgb(205, 212, 234);
border-radius: 5px;
 font-size: 20px;
  padding: 30px 20px;

}
 .sub-title{
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
 }
 .dp-sub-title{
  font-size: 18px;
  font-weight: 500;
 }
 .dp-img{
  padding-bottom: 20px;
 }
 /* right and left site styles */
.right-div{
  display: flex;
}
 /*  both section styles*/
 .both-one{
  display: flex;
  justify-content: space-evenly;
  margin: 0 476px;
  gap: 20px;
  padding-bottom: 60px;
 }
 .right{
   padding-top:50px;

 }
 .left img{

  border-radius:10px ;
 }
 .both-title{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 24px;

 }
 .both-p{
  font-size: 18px;
  
  padding-bottom: 16px;
 }
 .both-two{
  display: flex;
  justify-content: space-evenly;
  margin: 0 450px;
  padding-top: 50px;
  gap: 20px;
 }
 .left-two img{
  height: 397px;
  width: 592px;
  border-radius: 5px;

 }
 .left-two{
  
 }